body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5em auto;
  height: calc(100vh - 1rem);
  overflow: hidden;
  gap: 0.5rem;

  & > div {
    border: 1px solid blue;
    padding: 1rem;
  }
}
header {
  grid-column: 1/-1;
  h1,
  h2 {
    margin: 0.5rem 0;
    text-align: center;
  }
}
iframe {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 2px inset black;
}
